*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, grey, #2e3f4d);
}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    

    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
    margin-left: -100px;
}
.logo img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    
}
.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50%);
}
#circle{
    width: 700px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    margin-left: 700px;
    margin-top: -270px;
    transform: rotate(0deg);
    transition: 1s;
}
.feature img{
    width: 70px;
    
}
.feature{
    position: absolute;
    display: flex;
    color: #fff;
}
.feature div{
    margin-left: 30px;
}
.feature div p{
    margin-top: 8px;
}
.one{
    top: 250px;
    right: -150px;
}
.two{
    top: -90px;
    left: 150px;
    transform: rotate(-90deg);
}
.three{
    bottom:380px;
    left: -90px;
    transform: rotate(-180deg);
}
.four{
    bottom: -60px;
    right: 150px;
    transform: rotate(-270deg);
}
.porsche{
    width: 250px;
    margin-left: 700px;
    margin-top: -550px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%);
    z-index: 1;
}
.controls{
  float: right;
  margin-right: -40px;
  margin-top: 200px;
  /* transform: translate(-50%); */
}
#upBtn{
    font-size: 30px;
    padding: 10px;
    background-color: rgb(146, 146, 243);
    color: white;
    align-items: center;
    border-radius: 50%;
}
#downBtn{
    font-size: 30px;
    padding: 10px;
    background-color: rgb(146, 146, 243);
    color: white;
    align-items: center;
    border-radius: 50%;
    /* transform: rotate(180deg); */
}
.overlay{
   width: 0;
   height: 0;
   border-top: 400px solid #fff; 
   border-right: 400px solid transparent;
   border-bottom: 400px solid #fff;
   border-left: 400px solid #fff;
   margin-left: 650px;
   margin-top: -350px;
   position: absolute;

}

